/***** BASE STYLES *****/
html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
  font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
}

header, .top-section, footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

/***** HEADER *****/
/*The widths are in a percentage!*/
header {
	margin: 0 auto;
	width: 100%;
}

header h1 {
	margin: 0;
	padding: 1em 1em;
}

header h1 #green {
	color: #77a466;
}

header h1 #black {
	float: right;
}

.border {
	border-bottom: 3px solid #77a466;
	width: 100%;
}

header nav {
	padding: 2em 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.75em 0.625em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header nav ul li a {
	text-decoration: none;
	color:#77a466;
}

/***** SECTIONS *****/
/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image, .main-title {
	height: auto;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.main-image {
	justify-content: center;
	align-items: center;
}

.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	justify-content: flex-start;
	align-items: flex-start;
}

.main-title h3 {
	text-align: left;
	padding-top: 0.3125em;
	color: #77a466;
}

.main-title p {
	text-align: left;
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.bottom-section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.section-one,
.section-two,
.section-three {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: auto;
	border-top: 1px solid #eee;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	font-size: 1em;
	padding: 0.675em 0;
	color:#77a466;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/***** FOOTER *****/
/*The widths are in a percentage!*/
footer {
	height: 3.125em;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	width: 100%;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/***** TABLETS *****/
@media (min-width: 768px) and (max-width: 1199px) {
	h1 {
		font-size: 2.2em;
	}

	h2 {
	  font-size: 1.75em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 0.875em;
	}

	p {
		font-size: 1em;
		padding: 0 1em;
	}

	header nav ul li {
		font-size: 1.35em;
	}

	.main-title p {
		font-size: 1.2rem;
	}

	.bottom-section {
		flex-direction: row;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 30%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		flex-grow: 1;
	}

	.section-one h4, .section-two h4, .section-three h4 {
		margin-bottom: 0;
	}

	.section-two h4, .section-three h4 {
		padding-left: 1.25rem;
	}

	.menu li {
		font-size: 1.1rem;
	}

	.reviews {
		font-size: 1.2rem;
	}

	.address {
		font-size: 1.1rem;
	}

	footer h4 {
		font-size: 0.9em;
	}

	footer span {
		font-size: 1em;
	}
}

/***** DESKTOPS *****/
@media (min-width: 1200px) {
	h4 {
		font-size: 0.90em;
	}

	p {
		padding: 0 2.5em;
	}

	header {
		justify-content: space-between;
		align-items: center;
		flex-flow: row nowrap;
	}

	header h1 {
		padding: 0 0;
	}

	.border {
		border: none;
		width: 0;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}

	.bottom-section {
		flex-direction: row;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 30%;
		align-self: flex-start;
		padding-bottom: 1rem;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		flex-grow: 1;
	}

	.section-one h4, .section-two h4, .section-three h4 {
		margin-bottom: 0;
	}

	.section-two h4, .section-three h4 {
		padding-left: 2.6em;
	}

	footer span {
		font-size: 1em;
	}
}
